/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

:root {
  /* ========================================
     PALETTE PRINCIPALE
     ======================================== */
  --color-primary: #1A3263;
  --color-secondary: #547792;
  --color-accent: #FAB95B;
  --color-bg: #E8E2DB;

  /* Ionic overrides */
  --ion-color-primary: #1A3263;
  --ion-color-primary-rgb: 26, 50, 99;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #142850;
  --ion-color-primary-tint: #2e4a7a;

  --ion-color-secondary: #547792;
  --ion-color-secondary-rgb: 84, 119, 146;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-shade: #456478;
  --ion-color-secondary-tint: #6589a2;

  --ion-color-tertiary: #FAB95B;
  --ion-color-tertiary-rgb: 250, 185, 91;
  --ion-color-tertiary-contrast: #1A3263;
  --ion-color-tertiary-shade: #e5a349;
  --ion-color-tertiary-tint: #fbc46b;

  --ion-background-color: #E8E2DB;
  --ion-text-color: #1A3263;
  --ion-toolbar-background: #1A3263;
  --ion-toolbar-color: #ffffff;
  --ion-tab-bar-background: #1A3263;
  --ion-tab-bar-color: #8a9bba;
  --ion-tab-bar-color-selected: #FAB95B;
}
