version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app:Z

    environment:
      - NODE_ENV=development
    stdin_open: true
    tty: true
